@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<partial name="_TarihVeSelam" />
@{
    var names = new List<string> { "Havva", "Zana", "Ali", "Fatma", "Rüzgar" };
}
<partial name="_RastgeleIsim" for="@names"/>

@{
    var sayilar = new List<int> { 5, 2, 7, 9, 4, 3, 8 };
}
<partial name="_BuyukKucukBul" for="@sayilar" />
<script>
    $(document).ready(function () { 
    
        alert("Merhaba");
    
    })
</script>


<div>

    <a asp-action="UserDetail" asp-controller="deneme">Kullanıcı Detayı</a>
    <a class="red" href="@Url.Action("Book1","deneme")">Kitap 1</a><br />
    <a asp-action="Index" asp-controller="User">Kullanıcı Listesi</a>
    <br />
    <a asp-route="myroute">4 id li kullanıcı</a>
    <br />
    <a asp-route="ozel" asp-route-controller="car" asp-route-action="car1">Ozel Route</a>

</div>
    

@section Scripts{
<script>
    $(document).ready(function () { 
    
        //alert("Şimdi oldu");
    
    })
</script>
}
@section Styles{
<style>
    .red{
        color:red;
        font-size:30px;
        text-decoration:blink;
    }
</style>
}